django
gunicorn
wheel
requests
mysqlclient
django-mysql
django-allauth
python-dateutil
Pillow
pdf2image
google-cloud
google-cloud-vision
jsonpickle
django-background-tasks
django-environ
django-storages
boto3