{% load static %}
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="Data Extraction">

    <!-- Stylesheets -->
    <link 
        rel="stylesheet" 
        href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" 
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" 
        crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" 
        crossorigin="anonymous">
    <!-- <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
        crossorigin="anonymous">  -->
    <link 
        rel="stylesheet"  
        href="{% static 'base/css/mystyle.css' %}"
        type="text/css"/>

    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" 
        crossorigin="anonymous">
    </script>
</head>

<body class="d-flex flex-column h-100">

    <header class="fixed-top" style="background: white;">
        <nav class="navbar navbar-expand-md navbar-light">
            <!-- Company Name -->
            <a href="{% url 'index' %}" class="navbar-brand text-light">
                Fluid Data
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
                aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> 

            <!-- Navbar -->
            <div class="collapse navbar-collapse" id="navbarToggler">
                <div class="navbar-nav ms-auto">
                    <a class="nav-item text-light nav-link" href="{% url 'home' %}">Home</a>
                    <a class="nav-item text-light nav-link" href="{% url 'search' %}">Search</a>
                    <a class="nav-item text-light nav-link" href="{% url 'api' %}">API</a>
                    <a class="nav-item text-light nav-link dropdown-toggle" href="{% url 'profile' %}" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Profile
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">User</a></li>
                        <li><a class="dropdown-item" href="{% url 'company' %}">Company</a></li>
                      </ul>
                </div>
            </div>
        </nav>

        <div id="alerts">
        </div>

        {% block head %}{% endblock %}
    </header>


    <!-- main -->
    <main id="main-body">
        {% block main %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto pt-3">
        <div class="text-center py-2 bg-secondary">
            <span class="text-light">Fluid Energy Consultants - Copyright &copy; 2021</span>
        </div>
    </footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" 
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" 
        crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
        crossorigin="anonymous"></script>
    
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>


    <script>
        function ClearAllAlerts(){
            alertDiv = document.getElementById("alerts");
            alertDiv.innerHTML = "";
        }
        function AddAlert(type, text, dismissable){
            /* Types:
                    primary
                    secondary
                    success
                    danger
                    warning
                    info
                    light
                    dark
            */

            if(type == "primary" || type == "secondary" || type == "success" || type == "danger" || type == "warning" || type == "info" || type == "light" || type == "dark"){
                alertDiv = document.getElementById("alerts");
                
                alertHtml = alertDiv.innerHTML;

                alertHtml += '<div class="alert alert-';
                alertHtml += type;
                alertHtml += ' d-flex align-items-center' ;
                if(dismissable == true){
                    alertHtml += ' alert-dismissible fade show';
                }
                alertHtml += '" role="alert">';
                if(type == "info"){
                    alertHtml += '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-info-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">';
                    alertHtml += ' <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/></svg>';
                    alertHtml += '</svg>';
                }
                if(type == "success"){
                    alertHtml += '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-check-circle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">';
                    alertHtml += '<path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>';
                    alertHtml += '</svg>';
                }
                if(type == "warning"){
                    alertHtml += '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">';
                    alertHtml += '<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>';
                    alertHtml += '</svg>';
                }
                if(type == "danger"){
                    alertHtml += '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16">';
                    alertHtml += '<path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>';
                    alertHtml += '</svg>';
                }
                alertHtml += '<div>';
                alertHtml += text;
                alertHtml += '</div>';
                if(dismissable == true){
                    alertHtml += '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
                }
                alertHtml += '</div>';

                alertDiv.innerHTML = alertHtml;
            } else {
                console.log("Alert type '" + type + "' does not exist.")
            }
        }
    </script>

</body>

</html>