{% extends 'data/base.html' %}
{% block title %}
{{well.well_name}}
{% endblock %}

{% block main %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">{{well.well_name}}</h2>
        <div class="row align-items-start" style="border-bottom: 1px lightgrey solid; margin-bottom: 12px;">
            <div class="col-auto">
                <p><strong>Owner</strong>: {{well.operator}}</p>
                <p><strong>State</strong>: {{well.state}}</p>
                <p><strong>Permit</strong>: {{well.permit}}</p>
            </div>
            <div class="col-auto">
                <p><strong>Status</strong>: {{well.status}}</p>
                <p><strong>Class</strong>: {{well.class}}</p>
                <p><strong>Purpose</strong>: {{well.purpose}}</p>
            </div>
        </div>
        <!-- Link -->
        <a class="btn btn-primary" href={{well.url}} target="_blank">View on Geoscience Portal</a>
    </div>
</div>
<!-- Files -->
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Files</h3>
        {% if well.file_count == 0 %}
        <p>No files.</p>
        {% else %}
            <table class="table table-striped table-bordered"> 
                <tr>
                    <th>File Name</th>
                    <th colspan="2">Download</th>
                </tr>
                {% for file in well.files %}
                    <tr>
                        <td>{{file.document_name}}</td>
                        {% if file.status == 1 %}
                            <td>Local file missing.</td>
                        {% elif file.status == 2 %}
                            <td><a class="btn btn-primary" href="{{file.link}}">Download</a></td>
                        {% elif file.status == 3 %}
                            <td>File not kept in local database.</td>
                        {% else %}
                            <td>ERROR - File Status: {{file.status}}</td>
                        {% endif %}
                        <td><a  class="btn btn-primary" href="{{file.gov_url}}">Download from Goverment Database</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    </div>
</div>
<!-- Reports -->
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Reports</h3>

        {% if well.report_count == 0 %}
        <p>No reports</p>
        {% else %}
            {% for report in well.reports %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><strong>{{report.report_name}}</strong></h5>
                    <div class="row align-items-start" style="border-bottom: 1px lightgrey solid; margin-bottom: 12px;">
                        <p><strong>Type</strong>: {{report.report_type}}</p>
                        <p><strong>Government Name</strong>: {{report.gov_name}}</p>
                        <!-- Report Files -->
                        {% if report.file_count == 0 %}
                        <p>No files</p>
                        {% else %}
                            <table class="table table-striped table-bordered"> 
                                <tr>
                                    <th>File Name</th>
                                    <th colspan="2">Download</th>
                                </tr>
                                {% for file in report.files %}
                                    <tr>
                                        <td>{{file.document_name}}</td>
                                        {% if file.status == 1 %}
                                            <td>Local file missing.</td>
                                        {% elif file.status == 2 %}
                                            <td><a class="btn btn-primary" href="{{file.link}}">Download</a></td>
                                        {% elif file.status == 3 %}
                                            <td>File not kept in local database.</td>
                                        {% else %}
                                            <td>ERROR - File Status: {{file.status}}</td>
                                        {% endif %}
                                        <td><a  class="btn btn-primary" href="{{file.gov_url}}">Download from Goverment Database</a></td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </div>
                    <!-- Link -->
                    <a class="btn btn-primary" href={{report.url}} target="_blank">View on Geoscience Portal</a>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
<!-- Data -->
<div class="card">
    <div class="card-body">
        <h3 class="card-title">Data</h3>
        <table class="table">
            <tr><th>Gas Content</th><td>Not Available</td></tr>
            <tr></tr><th>Isotherm</th><td>Not Available</td></tr>
            <tr></tr><th>Maceral Analysis</th><td>Not Available</td></tr>
            <tr></tr><th>Frac Data</th><td>Not Available</td></tr>
            <tr></tr><th>Production Data</th><td>Not Available</td></tr>
            <tr></tr><th>DHG Pressure Data</th><td>Not Available</td></tr>
        </table>
    </div>
</div>
{% endblock %}