{% extends 'data/base.html' %}
{% block title %}
{{document.document_name_title_case}}
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-xl">
        <div class="card p-2">
            <h2 class="card-title">{{document.document_name_title_case}}</h2>
            <div class="card-body">
                <table>
                    <tr>
                        <th>Well: </th>
                        <td><a href="{% url 'details' document.well.id %}">{{document.well}}</a></td>
                    </tr>
                    <tr>
                        <th>Report Collection: </th>
                        <td>{{document.report}}</td>
                    </tr>
                    <tr>
                        <th>File:</th>
                        <td>{{document.document_name}}{{document.file_ext}}</td>
                    </tr>
                </table>
                <br>
                {% if document.status == document.DOWNLOADED %}
                    <a  class="btn btn-primary document" href="{{document.link}}" download="{{document.document_name}}{{document.ext}}">Download File</a>
                    <a class="btn btn-primary" href="{{document.url}}" download="{{document.document_name}}{{document.ext}}" target="_blank">Mirror</a>
                {% else %}
                    <a  class="btn btn-primary document" href="{{document.url}}" download="{{document.document_name}}{{document.ext}}" target="_blank">Download File</a>
                {% endif %}
                <br>
                <br>
                {% if request.user.is_superuser %}
                    <p><strong>Conversion Status</strong>: {{document.get_conversion_status_display}}</p>
                    {% if document.conversion_status != document.CONVERTED %}
                    <a class="btn btn-primary" href="{% url 'convert_document_pages' document.id %}">Run Conversion</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        
    </div>
    <div class="col-xl pb-3">
        <!-- Preview -->
        <div class="card mb-0">
            <div class="card-body">
                {% for page in document.pages.all %}
                
                <div style="text-align: center; width:60vw">
                    {% if forloop.first %}
                    <img id="{{page.get_page}}" src="{{page.link}}" alt="{{page.get_page}}" width="auto" height="100%" style="max-height:75vh; min-height: 400px; max-width:60w;">
                    {% else %}
                    <img id="{{page.get_page}}" src="{{page.link}}" alt="{{page.get_page}}" width="auto" height="100%" style="display: none; max-height:75vh; min-height: 400px; max-width:60vw;">
                    {% endif %}
                    <!-- Full Screen -->
                    <p class="link" style="text-align:right; position: absolute; right: 30px; top:30px;"><i class="fas fa-expand-arrows-alt fa-2x"></i></p>
                </div>
                
                {% endfor %}
                <div id="controls" style="display: flex; justify-content: center; width: 100%; padding-top: 6px; margin-top: 6px; border-top: 1px solid darkgray;">
                    <!-- Previous -->
                    <p class="link" style="padding:0px; margin-right:20px;" onclick="FirstPage()"><i class="fas fa-chevron-circle-left fa-2x"></i></p>
                    <p class="link" style="padding:0px; margin-right:20px;" onclick="PreviousPage()"><i class="fas fa-chevron-left fa-2x"></i></p>
                    <!-- Jump to Page -->
                    <p id="currentPage" style="padding:0px;">Page 1 of {{document.pages.count}}</p>
                    <!-- Next -->
                    <p class="link" style="padding:0px; margin-left:20px;" onclick="NextPage()"><i class="fas fa-chevron-right fa-2x"></i></p>
                    <p class="link" style="padding:0px; margin-left:20px;" onclick="LastPage()"><i class="fas fa-chevron-circle-right fa-2x"></i></p>
                </div>
                
            </div>
        </div>
    </div>
</div>

<!-- Data -->
<div class="card p-2">
    <h2 class="card-title">Extracted Data</h2>
    <div class="card-body">
        <table class="table">
            {% for row in rows %}
            {% with row.type as type %}
            {% with row.data as data %}
            <tr>
            {% if row.format == "title" %}
                <th colspan={{columns|add:"1"}}></th></tr><tr>
                {% if row.arg1 == "search" %}
                    <th colspan={{columns}}>{{type}}</th>
                    <th><a class="btn btn-primary" href="{% url 'extract_document_data' document.id type.id %}">Search</a></th>
                {% elif row.arg1 == "single" %}
                    <td colspan={{columns|add:"1"}}><b>{{type}}:</b> {{row.data.get_value_with_units}}</td>
                {% else %}
                    <th colspan={{columns|add:"1"}}>{{type}}</th>
                {% endif %}
            {% elif row.format == "header" %}
                <th>Page</th>
                <th>
                    {{type.value1}}
                    {% if row.arg1 == "units" %}<br>{{data.unit.get_units_with_brakets}}{% endif %}
                </th>
                {% if type.value2 %}
                <th>
                    {{type.value2}}
                    {% if row.arg1 == "units" %}<br>{{data.unit2.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value3 %}
                <th>
                    {{type.value3}}
                    {% if row.arg1 == "units" %}<br>{{data.unit3.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value4 %}
                <th>
                    {{type.value4}}
                    {% if row.arg1 == "units" %}<br>{{data.unit4.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value5 %}
                <th>
                    {{type.value5}}
                    {% if row.arg1 == "units" %}<br>{{data.unit5.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value6 %}
                <th>
                    {{type.value6}}
                    {% if row.arg1 == "units" %}<br>{{data.unit6.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value7 %}
                <th>
                    {{type.value7}}
                    {% if row.arg1 == "units" %}<br>{{data.unit7.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value8 %}
                <th>
                    {{type.value8}}
                    {% if row.arg1 == "units" %}<br>{{data.unit8.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value9 %}
                <th>
                    {{type.value9}}
                    {% if row.arg1 == "units" %}<br>{{data.unit9.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value10 %}
                <th>
                    {{type.value10}}
                    {% if row.arg1 == "units" %}<br>{{data.unit10.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value11 %}
                <th>
                    {{type.value11}}
                    {% if row.arg1 == "units" %}<br>{{data.unit11.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value12 %}
                <th>
                    {{type.value12}}
                    {% if row.arg1 == "units" %}<br>{{data.unit12.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value13 %}
                <th>
                    {{type.value13}}
                    {% if row.arg1 == "units" %}<br>{{data.unit13.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value14 %}
                <th>
                    {{type.value14}}
                    {% if row.arg1 == "units" %}<br>{{data.unit14.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value15 %}
                <th>
                    {{type.value15}}
                    {% if row.arg1 == "units" %}<br>{{data.unit15.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value16 %}
                <th>
                    {{type.value16}}
                    {% if row.arg1 == "units" %}<br>{{data.unit16.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value17 %}
                <th>
                    {{type.value17}}
                    {% if row.arg1 == "units" %}<br>{{data.unit17.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value18 %}
                <th>
                    {{type.value18}}
                    {% if row.arg1 == "units" %}<br>{{data.unit18.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value19 %}
                <th>
                    {{type.value19}}
                    {% if row.arg1 == "units" %}<br>{{data.unit19.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
                {% if type.value20 %}
                <th>
                    {{type.value20}}
                    {% if row.arg1 == "units" %}<br>{{data.unit20.get_units_with_brakets}}{% endif %}
                </th>
                {% endif %}
            {% elif row.format == "data" %}
                    <td>{{data.page.get_page}}</td>
                    <td>
                        {{data.get_value1}}
                        {% if row.arg1 == "units" %}<br>{{data.unit.get_units_with_brakets}}{% endif %}
                    </td>
                    {% if type.value2 %}
                    <td>
                        {{data.get_value2}}
                        {% if row.arg1 == "units" %}<br>{{data.unit2.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value3 %}
                    <td>
                        {{data.get_value3}}
                        {% if row.arg1 == "units" %}<br>{{data.unit3.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value4 %}
                    <td>
                        {{data.get_value4}}
                        {% if row.arg1 == "units" %}<br>{{data.unit4.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value5 %}
                    <td>
                        {{data.get_value5}}
                        {% if row.arg1 == "units" %}<br>{{data.unit5.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value6 %}
                    <td>
                        {{data.get_value6}}
                        {% if row.arg1 == "units" %}<br>{{data.unit6.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value7 %}
                    <td>
                        {{data.get_value7}}
                        {% if row.arg1 == "units" %}<br>{{data.unit7.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value8 %}
                    <td>
                        {{data.get_value8}}
                        {% if row.arg1 == "units" %}<br>{{data.unit8.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value9 %}
                    <td>
                        {{data.get_value9}}
                        {% if row.arg1 == "units" %}<br>{{data.unit9.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value10 %}
                    <td>
                        {{data.get_value10}}
                        {% if row.arg1 == "units" %}<br>{{data.unit10.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value11 %}
                    <td>
                        {{data.get_value11}}
                        {% if row.arg1 == "units" %}<br>{{data.unit11.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value12 %}
                    <td>
                        {{data.get_value12}}
                        {% if row.arg1 == "units" %}<br>{{data.unit12.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value13 %}
                    <td>
                        {{data.get_value13}}
                        {% if row.arg1 == "units" %}<br>{{data.unit13.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value14 %}
                    <td>
                        {{data.get_value14}}
                        {% if row.arg1 == "units" %}<br>{{data.unit14.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value15 %}
                    <td>
                        {{data.get_value15}}
                        {% if row.arg1 == "units" %}<br>{{data.unit15.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value16 %}
                    <td>
                        {{data.get_value16}}
                        {% if row.arg1 == "units" %}<br>{{data.unit16.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value17 %}
                    <td>
                        {{data.get_value17}}
                        {% if row.arg1 == "units" %}<br>{{data.unit17.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value18 %}
                    <td>
                        {{data.get_value18}}
                        {% if row.arg1 == "units" %}<br>{{data.unit18.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value19 %}
                    <td>
                        {{data.get_value19}}
                        {% if row.arg1 == "units" %}<br>{{data.unit19.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                    {% if type.value20 %}
                    <td>
                        {{data.get_value20}}
                        {% if row.arg1 == "units" %}<br>{{data.unit20.get_units_with_brakets}}{% endif %}
                    </td>
                    {% endif %}
                {% endif %}
            </tr>
            {% endwith %}
            {% endwith %}
            {% endfor %}

        </table>
    </div>
</div>    

<script>
    currentPage = 0
    pages = [
        {% for page in document.pages.all %}
        {% if forloop.last %}
        "{{page.get_page}}"
        {% else %}
        "{{page.get_page}}",
        {% endif %}
        {% endfor %}
    ]

    function NextPage(){
        currentPage += 1
        if (currentPage >= pages.length){
            currentPage = pages.length - 1;
        }
        GoToPage(currentPage);
    }

    function PreviousPage(){
        currentPage -= 1
        if (currentPage < 0){
            currentPage = 0;
        }
        GoToPage(currentPage);
    }

    function FirstPage(){
        currentPage = 0
        GoToPage(currentPage);
    }

    function LastPage(){
        currentPage =pages.length - 1
        GoToPage(currentPage);
    }

    function GoToPage(pageNo){
        for (let i = 0; i < pages.length; i++) {
            page = pages[i];
            if (i == pageNo){
                document.getElementById(page).style.display = "Inline";
                document.getElementById("currentPage").innerText = page + " of {{document.pages.count}}";
            } else {
                document.getElementById(page).style.display = "None";
            }
        }
    }
</script>

{% endblock %}