{% extends 'data/base.html' %}
{% block title %}
{{document.document_name_title_case}}
{% endblock %}

{% block main %}
<div class="row">
    <div class="col-xl-4">
        <div class="card p-2">
            <h2 class="card-title">{{document.document_name_title_case}}</h2>
            <div class="card-body">
                <table>
                    <tr>
                        <th>Well: </th>
                        <td><a href="{% url 'details' document.well.id %}">{{document.well}}</a></td>
                    </tr>
                    <tr>
                        <th>Report Collection: </th>
                        <td>{{document.report}}</td>
                    </tr>
                    <tr>
                        <th>File:</th>
                        <td>{{document.document_name}}{{document.file_ext}}</td>
                    </tr>
                </table>
                <br>
                {% if document.status == document.DOWNLOADED %}
                    <a  class="btn btn-primary document" href="{{document.url}}" download="{{document.document_name}}{{document.ext}}">Download File</a>
                    <a class="btn btn-primary" href="{{document.link}}">Mirror</a>
                {% else %}
                    <a  class="btn btn-primary document" href="{{document.url}}" download="{{document.document_name}}{{document.ext}}">Download File</a>
                {% endif %}
                <br>
                <br>
                {% if request.user.is_superuser %}
                    <p><strong>Conversion Status</strong>: {{document.get_conversion_status_display}}</p>
                    {% if document.conversion_status != document.CONVERTED %}
                    <a class="btn btn-primary" href="{% url 'convert_document_pages' document.id %}">Run Conversion</a>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <!-- Data -->
        <div class="card p-2">
            <h2 class="card-title">Extracted Data</h2>
            <div class="card-body">
                <table class="table">
                    {% for type in dataTypes %}
                    <tr><td colspan="5"></td></tr>
                    <tr>
                        <th colspan=4>{{type}}</th>
                        <th><a class="btn btn-primary" href="{% url 'extract_document_data' document.id type.id %}">Search</a></th>
                    </tr>
                    {% for data in datas %}
                        {% if forloop.first %}
                        <tr>
                            <th>Page</th>
                            {% if type.value1 %}
                                <th>{{type.value1}}</th>
                                {% if type.value2 %}
                                <th>{{type.value2}}</th>
                                {% else %}
                                <th></th>
                                {% endif %}
                                {% if type.value3 %}
                                <th>{{type.value3}}</th>
                                {% else %}
                                <th></th>
                                {% endif %}
                                {% if type.value4 %}
                                <th>{{type.value4}}</th>
                                {% else %}
                                <th></th>
                                {% endif %}
                            {% else %}
                            <th colspan="4">Data</th>
                            {% endif %}
                        </tr>
                        {% endif %}
                        {% if data.extraction_method.data_type == type %}
                        <tr>
                            <td>{{data.page.get_page}}</td>
                            <td>
                                {% if data.get_value1 is not None %}
                                {{data.get_value1}}
                                {% endif %}
                            </td>
                            <td>
                                {% if data.get_value2 is not None %}
                                {{data.get_value2}}
                                {% endif %}
                            </td>
                            <td>
                                {% if data.get_value3 is not None %}
                                {{data.get_value3}}
                                {% endif %}
                            </td>
                            <td>
                                {% if data.get_value4 is not None %}
                                {{data.get_value4}}
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    {% endfor %}
                </table>
            </div>
        </div>    
    </div>
    <div class="col-xl-8 pb-3">
        <!-- Preview -->
        <div class="card mb-0" style="height:100%; min-height: 700px;">
            <div class="card-body">
                {% if document.file %}
                <p class="link" style="text-align:right; position: absolute; right: 30px; top:30px;"><i class="fas fa-expand-arrows-alt fa-2x"></i></p>
                <iframe src="{{document.file.url}}#toolbar=0&navpanes=0" width="100%" height="100%"></iframe>
                {% else %}
                    <p>No file available for preview</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<!-- Data -->
<div style="display:none;" class="card">
    <div class="card-body">
        <h3 class="card-title">Data</h3>
        <table class="table">
            <tr><th>Gas Content</th><td>Not Available</td></tr>
            <tr></tr><th>Isotherm</th><td>Not Available</td></tr>
            <tr></tr><th>Maceral Analysis</th><td>Not Available</td></tr>
            <tr></tr><th>Frac Data</th><td>Not Available</td></tr>
            <tr></tr><th>Production Data</th><td>Not Available</td></tr>
            <tr></tr><th>DHG Pressure Data</th><td>Not Available</td></tr>
        </table>
    </div>
</div>

{% endblock %}