{% extends 'data/base.html' %}
{% block title %}
Fluid Data - Home
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="col-lg">
                <h1>Fluid Data</h1>
                <p>Welcome to Fluid Data, the number one location for downhole data in Australia.</p>
            </div>
            <div class="col-lg">
                <h1>Updates</h1>
                <h2>22/10/2021: Site is Live</h2>
                <p>The web application and database have been successfully migrated to Amazon's AWS servers.</p>
            </div>
        </div>

    </div>

    
</div>


{% endblock %}

