{% extends 'data/base.html' %}
{% block title %}
Fluid Data - Home
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
            <div class="col-lg">
                <h1>Fluid Data</h1>
                <p>Welcome to Fluid Data, the number one location for downhole data in Australia.</p>
            </div>
    </div>
    <div class="row">
        <div class="col-lg">
            <h1>Search for Data</h1>
            <p>To begin accessing our growing database, head to our <a class="linkFormat" href="{% url 'search' %}">search page</a>.</p>
        </div>
        <div class="col-lg">
            <h1>Learn about our API</h1>
            <p>Learn all about our Application Programming Interface and how you can integrate our database into your own software at our <a class="linkFormat" href="{% url 'api' %}">API Guide page</a>.</p>
        </div>
        <div class="col-lg">
            <h1>More Information</h1>
            <p>To learn more, visit our <a class="linkFormat" href="{% url 'help' %}">help page</a>.</p>
        </div>
    </div>
    
</div>


{% endblock %}

