
{% extends 'public/base.html' %}
{% block title %}
Fluid Data - About
{% endblock %}

{% block head %}
{% endblock %}

{% block main %}
<div class="container-fluid">
    <div class="row">
        <div class="col-8" style="text-align: justify">
            <h1>Who are Fluid Energy Consultants</h1>
            <p>Fluid Energy Consultants was conceived by Doug Barrenger, Wal Muir and Larry Franks.  The company was incorporated in 2013 and is tailored to fill in a gap that we perceive exists in the local market for competent assessment of exploration, production assets and sales, valuations of company assets, farmin and asset purchase assessment, as well as reporting to the Board, the ASX and tax office.</p>
            <p>The gentlemen named form a core expertise of Geology, Geophysics and Reservoir Engineering.  Through many associated contract personnel, other disciplines or relevant experts, such as facilities engineering, can be accessed locally to build truly competent and integrated teams as required.</p>
            <p>Areas of expertise include our core competencies for conventional hydrocarbons, coal seam gas and shale gas in Australia and internationally.</p>
            <p>Our expertise extends to cost saving analysis of drilling and sampling proposals and operations, including a particular focus on the application of under balanced drilling techniques.</p>
            <p>Fluid Energy has already carried out:</p>
            <ul>
                <li>several valuations including for Transfer Duty;</li>
                <li>reserve classification; and</li>
                <li>evaluations of government applications for new permits, farmin opportunities and production and exploration asset sales;</li>
            </ul>
            <p>A cost effective approach has been found to be very helpful to clients, particularly in the current environment.  We have tailored a two phase approach to asset assessments for purchase or farmin. The first phase is focused on the key asset only and is usually backed by a simple economic model.  The second phase of detailed study and ASX-compliant reporting is contingent on the first.</p>
            
            <p>For more information visit <a href="https://www.fluidenergyconsultants.com.au">www.fluidenergyconsultants.com.au</a></p>
        </div>
        <div class="col-4">
            <h3>CONVENTIONAL HYDROCARBONS</h3>
            <ul>
                <li>GEOPHYSICS</li>
                <li>GEOLOGY</li>
                <li>PETROLEUM ENGINEERING</li>
            </ul>
            <h3>UNCONVENTIONAL HYDROCARBONS</h3>
            <ul>
                <li>COAL SEAM GAS</li>
                <li>SHALE</li>
                <li>GEOTHERMAL</li>
                <li>SEQUESTRATION</li>
            </ul>
            <h3>EXPERT OPINIONS, VALUATIONS AND INDEPENDENT EXPERTS</h3>
            <ul>
                <li>GOVERNMENT APPLICATIONS</li>
                <li>FARMIN</li>
                <li>ASSET SALES</li>
            </ul>
            <h3>AUSTRALIA AND INTERNATIONAL</h3>
            <p>Our partners and associates are working in many countries.</p>
        </div>
    </div>

    
</div>


{% endblock %}

